.modelops-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  position: relative;
  overflow: hidden;
  height: 200px;
  width: 450px;
}

.left-group,
.right-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.left-item,
.right-item {
  width: 80px;
  opacity: 0;
  transform: translate(0, 0);
transition: transform 5s ease-in-out, opacity 0.7s;
  position: relative;
}

.brain img {
  position: relative;
  width: 100px;
  background-color: #eeeeee;
  z-index: 2;
}

.left-item.in {
  opacity: 1;
  transform: translate(calc(-1 * var(--tx)), var(--ty));
}
.left-item.out {
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 0.7s ease-in-out 7s, transform 1s ease-in-out;
}

.right-item.in {
  opacity: 1;
  transform: translate(var(--tx), var(--ty));
}
.right-item.out {
  opacity: 0;
  transform: translate(0, 0);
}

.right-group {
  gap: 0;
}